:root {
  --backgroundColor: #09203f;
  --colorShadeA: white;
  --colorShadeB: #09203f;
  --colorShadeC: #385875;
  --colorShadeD: #1C3756;
  --colorShadeE: #537895;
}



body {
  font-family: sans-serif;
}

html {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  min-height: 100vh;
}

#container {
  white-space: pre-line;
  color: white;
  background-color: #537895;
  height: 610px;
  width: 370px;
  z-index: 999999 !important;
  position: fixed;
  top: 130px;
  left: 416px;
  font-size: 22px;
  line-height: 1.5;
}

.ghost-button {
  color: #537895;
  background: #fff;
  border: 1px solid #09203f;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  min-width: 120px;
}

.ghost-button:hover,
.ghost-button:active {
  color: #fff;
  background: #537895;
}

.text {
  visibility: hidden;
}

.text0 {
  position: fixed;
  top: 670px;
  left: 830px;
}

.text1 {
  position: fixed;
  top: 600px;
  left: 105px;
}

.text2 {
  position: fixed;
  top: 510px;
  left: 830px;
}

.text3 {
  position: fixed;
  top: 350px;
  left: 105px;
}

.text4 {
  position: fixed;
  top: 150px;
  left: 830px;
}

.map_infobox {
  background: #fff;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  padding: 5px;
  z-index: 1;

  border-opacity: 0.3;
  border: 5px solid rgba(0, 0, 0, 0.3);
}

.map_infobox-left {
  background: #fff;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  padding: 5px;
  z-index: 1;

  border-opacity: 0.3;
  border: 5px solid rgba(0, 0, 0, 0.3);
}

.map_infobox-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 245px;
  z-index: -1;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  background: #fff;
  transform: rotate(225deg);
  border-opacity: 0.3;
  border-left: 5px solid rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}

.map_infobox:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -21px;
  z-index: -1;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  background: #fff;
  transform: rotate(45deg);
  border-opacity: 0.3;
  border-left: 5px solid rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}

.wrap {
  width: 100%;
  overflow: auto;
}

.inside-screen {
  float: left;
  width: 100%;
  height: 100%;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
}

#water0 {
  background-size: 100%;
  background-image: url(./assets/4.png), url(./assets/4.png);
  background-position: 0 0;
  background-repeat: 50/0px repeat;
}
#water1 {
  background-size: 100%;
  background-image: url(./assets/3.png), url(./assets/3.png);
  background-position: 0 0;
  background-repeat: 0/20px repeat;
}
#water2 {
  background-size: 100%;
  background-image: url(./assets/2.jpg), url(./assets/2.jpg);
  background-position: 0 0;
  background-repeat: 0/10px repeat;
}
#water3 {
  background-size: 100%;
  background-image: url(./assets/1.jpg), url(./assets/1.jpg);
  background-position: 0 0;
  background-repeat: 0/5px repeat;
  box-shadow: -10px 0px 25px #404040;
}
#water4 {
  background-size: 100%;
  background-image: url(./assets/4.jpg), url(./assets/4.jpg);
  background-position: 0 0;
  background-repeat: 0/5px repeat;
  box-shadow: -10px 0px 25px #404040;
}

.water {
  width: 100%;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

#water-container {
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
}

/* change only numbers; nothing else */
:root {
  --smartphone-width: 370px;
  --smartphone-height: 610px;
}

/* **************************** */
/* not needed for demonstration */
html {
  background-color: darkgray;
}
.device-container {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  max-height: max-content;
}

.mySmartphone {
  position: fixed;
  top: 100px;
  left: 400px;
  width: var(--smartphone-width); /* 360px */
  height: var(--smartphone-height); /* 640px */
  margin: auto;
  border: 16px #161616 solid;
  border-top-width: 30px;
  --border-top-width: 30px;
  border-bottom-width: 80px;
  border-radius: 40px;
  background-color: black;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* Lautsprecher */
.mySmartphone::before {
  content: "";
  display: block;
  width: calc(var(--smartphone-height) / 3.5);
  height: 5px;
  position: absolute;
  top: calc((var(--border-top-width) / 2) * -1);
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* Button */
.mySmartphone::after {
  content: "";
  display: block;
  width: 58px;
  height: 38px;
  position: absolute;
  left: 50%;
  bottom: calc((var(--smartphone-height) - var(--smartphone-height) * 1.105));
  transform: translate(-50%, -50%);
  background: #333;
  border: 1px solid grey;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

/* Zurück */
.mySmartphone .arrow-left {
  width: 0;
  height: 0;
  position: absolute;
  left: 15%;
  bottom: calc((var(--smartphone-height) - var(--smartphone-height) * 1.07));
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(88, 88, 88);
  border-radius: 5px 5px 5px 5px;
}

.hamburger {
  position: absolute;
  left: 80%;
  bottom: calc((var(--smartphone-height) - var(--smartphone-height) * 1.06));
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #636262;
  border-bottom: 0.2em solid #696767;
}

.hamburger::before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #696969;
}

/* Bildschirm */
.mySmartphone .content {
  width: var(--smartphone-width);
  height: var(--smartphone-height);
  background: white;
  border-radius: 40px;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* An/Aus Knopf */
.mySmartphone .myPower {
  background: #161616;
  height: 80px;
  position: absolute;
  right: -20px;
  top: calc(var(--smartphone-height) / 15);
  width: 15px;
  border-radius: 15%;
}

/* Lauter */
.mySmartphone .myPower::before {
  content: "";
  display: block;
  background: #161616;
  height: 60px;
  position: absolute;
  top: 130px;
  width: 15px;
  border-radius: 25%;
}

/* Leiser */
.mySmartphone .myPower::after {
  content: "";
  display: block;
  background: #161616;
  height: 60px;
  position: absolute;
  top: 199px;
  width: 15px;
  border-radius: 25%;
}

h1 {
  position: fixed;
  top: 10px;
  left: 300px;
  width: 800px;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: "Raleway", cursive;
  font-weight: 100;
}

h5 {
  position: fixed;
  top: 50px;
  left: 530px;
  width: 800px;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: "Raleway", cursive;
  font-weight: 100;
}

.fade {
  overflow: hidden;
  white-space: pre-line;
  color: white;
  background-color: #537895;
  height: 610px;
  width: 370px;
  z-index: 999999 !important;
  position: fixed;
  top: 130px;
  left: 416px;
  font-size: 22px;
  line-height: 1.5;
  background-image: linear-gradient(0deg, transparent, #537895 0%, #09203f);
  visibility: hidden;
  opacity: 0.7;
}

.star-wars {
  overflow: hidden;
  justify-content: center;
  position: fixed;
  top: 130px;
  left: 416px;
  height: 610px;
  width: 370px;
  color: white;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 300%;
  font-weight: 800;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  z-index: 999999 !important;
  -webkit-text-stroke: 3px black;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 120s linear;
  width: 300%;
  left: -350px;
  visibility: hidden;
}

.crawl > .title {
  font-size: 140%;
  text-align: center;
}

.crawl > .title h2 {
  margin: 0 0 0px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: +800px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button.big-button {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeB);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeB);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}