/* @theme academic */
/* Author: kaisugi https://github.com/kaisugi/ */
/* MIT license https://github.com/kaisugi/marp-theme-academic/blob/main/LICENSE */

@import 'gaia';


h1 {
    background-color: blue; /* Set the background color to blue */
    color: white; /* Set the text color to white */
    padding: 10px; /* Add some padding for better appearance */
    text-align: center; /* Center the text */
}
