/* @theme unc-theme */
@import 'gaia';

section::after {
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
  
}

section {
    padding-top: 90px;
	font-size: x-large;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='100px'><text transform='translate(20, 100) rotate(-45)' fill='rgb(173,216,230)' font-size='20'>UNC</text></svg>");
}


li:not(:last-child) { 
   margin-bottom: 30px;  
}

H1 {
	position:absolute;
	color: white;	
    right:35px;
    top:20px;
	font-size: xx-large;
}

header {
    position: absolute;
    height: 60px;
    color: white;
    background-color: #046FB7;
	font-size: xx-large;
	border-color: #d6e9c6;
	margin: 15px;
	margin-top: 10px!important;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow:   0px   5px   10px   0px rgba(0,   0,   0,   0.5)
}



/*
// ⬇️ Mark the image of "1" in every pages as morphable image named as "one" ⬇️ 
img[alt="1"] {
    view-transition-name: one;
    contain: layout;
}

// Generic image styling for number icons 
img:is([alt="1"], [alt="2"], [alt="3"]) {
    height: 64px;
    position: relative;
    top: -0.1em;
    vertical-align: middle;
    width: 64px;
}
*/